*a {
  background-color: #FFFCF9;font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #ffd166;
  background-color: #26547c;
}
#bio{
  background-color: #06d6a0
}
#edu {
  background-color: #06d6a0
}
#exp {
  background-color: #06d6a0
}
#goals{
  background-color: #06d6a0
}